<div id="simple" ng-app='new2' ng-controller="MyController2 as m">
  <p>Let's try this simple notify service, injected into the controller...</p>
  <input ng-model="m.message" >
  <button ng-click="m.callNotify(m.message);">NOTIFY</button>
  <p>(you have to click 3 times to see an alert)</p>
</div>