<div ng-app='mod2' ng-controller='invoiceController2 as inv'>
qty ::<input type="number" min="0" ng-model="inv.qty" required>
cst ::<input type="number" min="0" ng-model="inv.price" required>

<select ng-modal="inv.curr">
	<option ng-repeat="val in inv.currencies">{{val}}</option>
</select>

Total :: <div ng-repeat="c in inv.currencies">

	{{inv.total(c) | currency:c}} </div>
<button ng-click="inv.pay()"> Payyy </button>

</div>